<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Phân Quyền Người Dùng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>LIB ONLINE</h1>
        <nav>
            <ul>
                <li><a href="/home">TRANG CHỦ</a></li>
                {% if session.get('user_role') == 'Thủ thư' or session.get('user_role') == 'Độc giả' %}
                    <li><a href="/books">SÁCH</a></li>
                    <li><a href="/list_borrows">MƯỢN - TRẢ</a></li>
                {% endif %}

                {% if session.get('user_role') == 'Thủ thư' %}
                    <li><a href="/members">ĐỘC GIẢ</a></li>
                {% endif %}
            
                {% if session.get('user_role') == 'Quản trị viên' %}
                    <li><a href="/librarians">QUẢN LÝ THỦ THƯ</a></li>
                    <li><a href="/user_management">QUẢN LÝ NGƯỜI DÙNG</a></li>
                {% endif %}
            
                <!-- Thống Kê cho cả Thủ thư và Quản trị viên -->
                {% if session.get('user_role') in ['Quản trị viên', 'Thủ thư'] %}
                    <li><a href="/generate_statistics">THỐNG KÊ</a></li>
                {% endif %}
            
                <li><a href="/logout">ĐĂNG XUẤT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>PHÂN QUYỀN NGƯỜI DÙNG</h2>
        
        <!-- Hiển thị thông báo nếu có -->
        {% if message %}
            <div class="alert">
                {{ message }}
            </div>
        {% endif %}
        
        <form method="post">
            <label>Chọn Quyền:</label><br>
            {% for role in roles %}
                <input type="checkbox" name="roles" value="{{ role[0] }}" {% if role[0] in user_roles %}checked{% endif %}>
                {{ role[1] }}<br>
            {% endfor %}
            <br>
            <button class="btn" type="submit">Cập nhật Quyền</button>
            <a href="{{ url_for('books') }}" class="btn">Quay lại người dùng</a>
        </form>
        
    </main>
    
</body>
</html>
