<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang Thủ Thư</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Thủ Thư Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/home">TRANG CHỦ</a></li>
                {% if session.get('user_role') == 'Thủ thư' or session.get('user_role') == 'Độc giả' %}
                    <li><a href="/books">SÁCH</a></li>
                    <li><a href="/list_borrows">MƯỢN - TRẢ</a></li>
                {% endif %}

                {% if session.get('user_role') == 'Thủ thư' %}
                    <li><a href="/members">ĐỘC GIẢ</a></li>
                {% endif %}
            
                {% if session.get('user_role') == 'Quản trị viên' %}
                    <li><a href="/librarians">QUẢN LÝ THỦ THƯ</a></li>
                    <li><a href="/user_management">QUẢN LÝ NGƯỜI DÙNG</a></li>
                {% endif %}
            
                <!-- Thống Kê cho cả Thủ thư và Quản trị viên -->
                {% if session.get('user_role') in ['Quản trị viên', 'Thủ thư'] %}
                    <li><a href="/generate_statistics">THỐNG KÊ</a></li>
                {% endif %}
            
                <li><a href="/logout">ĐĂNG XUẤT</a></li>
            </ul>
        </nav>
    </header>
    <div class="library-image">
        <img src="{{ url_for('static', filename='images/thuvien.jpg') }}" alt="Thư Viện" />
        <div class="overlay">
            <h2>Chào mừng thủ thư đến LIB ONLINE!</h2>
            
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Quản Lý Thư Viện</p>
    </footer>
    
</body>
</html>
